<ion-header>
  <ion-toolbar>
    <ion-title>
      General info
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/shapes.svg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Info</ion-card-subtitle>
        <ion-card-title>Welcome to the Boiler management App</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Go to the Configure boiler Tab to configure your boiler</p>
        <section>
          <header>Default Size</header>
          <ion-button color="success" (click)="connect()">Connect</ion-button>
          <ion-button color="warning" (click)="disconnect()">Disconnect</ion-button>
        </section>
      </ion-card-content>
    </ion-card>
</ion-content>
